<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3mobile.css">
<style> 
p.wordwrap {
    width: 11em; 
    border: 1px solid #000000;
    word-wrap: break-word;
}
</style>

<ion-view view-title="Chats">
  <ion-content>
	</br>
	</br>
  <div class="w3-cell" style="width:30%">
    <center><img src="http://s2.webbnc.vn/uploadv2/web/53/5334/news/2017/06/30/04/02/1498838473_19225420_1338514609597533_6109422288473000209_n.jp.jpg" style="width:300px"></center>
  </div>
<p class="Info"><center>BẢNG GIÁ TAXI ĐÔNG DƯƠNG D.C</center></br>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Địa điểm/Loại xe</th>
        <th class="success">4 chỗ</th>
        <th class="danger">5 chỗ</th>
        <th class="warning">7 chỗ</th>
        <th>16 chỗ</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Cầu Giấy</td>
        <td>190</td>
        <td>190</td>
        <td>300</td>
        <td>300</td>
      </tr>
      <tr>
        <td>Đống Đa</td>
        <td>190</td>
        <td>190</td>
        <td>300</td>
        <td>300</td>
      </tr>
      <tr>
        <td>Ba Đình</td>
        <td>190</td>
        <td>190</td>
        <td>300</td>
        <td>300</td>
      </tr>
      <tr>
        <td>Hai Bà Trưng</td>
        <td>190</td>
        <td>190</td>
        <td>300</td>
        <td>300</td>
      </tr>
      <tr>
        <td>Nam Từ Liêm</td>
        <td>190</td>
        <td>190</td>
        <td>300</td>
        <td>300</td>
      </tr>
      <tr>
        <td>Bắc Từ Liêm</td>
        <td>190</td>
        <td>190</td>
        <td>300</td>
        <td>300</td>
      </tr>
      <tr>
        <td>Gia Lâm</td>
        <td>300</td>
        <td>300</td>
        <td>700</td>
        <td>700</td>
      </tr>                  
    </tbody>

  </table>
</div>
</br>
</p>

  </ion-content>
</ion-view>
