<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3mobile.css">
<style> 
p.wordwrap {
    width: 11em; 
    border: 1px solid #000000;
    word-wrap: break-word;
}
</style>

<ion-view view-title="Chats">
  <ion-content>
	</br>
	</br>
  <div class="w3-cell" style="width:30%">
    <center><img src="http://s2.webbnc.vn/uploadv2/web/53/5334/news/2017/06/30/04/02/1498838473_19225420_1338514609597533_6109422288473000209_n.jp.jpg" style="width:300px"></center>
  </div>
<p class="Info"><center>GIỚI THIỆU CÔNG TY</center></br>
CÔNG TY CỔ PHẦN ĐẦU TƯ DU LỊCH VÀ VẬN TẢI ĐÔNG DƯƠNG D.C</br>
Địa chỉ: Tầng 3 – Số 96 – Ngọc Hà – Ba Đình – Hà Nội</br>
MST: 0107715875</br>
Điện thoại: (04)628 10099</br>
STK Ngân hàng BIDV: 2611.000.345.2578 - CN Tràng An</br>
HOTLINE:  0942 377 433</br>
Email: congtydongduongjsc.vn@gmail.com</br>
Website: wwww.dongduongjsc.vn  - www.gpsdongduong.vn</br>
Sản phẩm - ĐÔNG DƯƠNG DC.,JSC Cung Cấp</br>
</br>
    -  Pháp nhân vận tải , phù hiệu Xe hợp đồng, Xe tải</br>
    -  Đối tác Uber, Grab</br>
    -  Lắp đặt định vị Gps</br>
    -  Bảo hiểm TNDS  xe ôtô</br>
    -  Các dịch vụ về du lịch, xe đi tỉnh, Sân bay </br>
    - Thương mại sản phẩm đồ gốm sứ gia truyền Bát Tràng.</br>
</br>
</br>
​Triết lý Kinh Doanh: ĐÔNG DƯƠNG DC.,JSC</br>
</br>
    - Lấy Uy tín làm sức mạnh.</br>
    - Lấy sự hài lòng của khách hàng làm mục đích hướng tới.</br>
    - Luôn luôn đặt lợi ích khách hàng, đối tác lên hàng đầu, cùng nhau phát triển bền vững </br>
    - Luôn đặt sự thuận tiện cho khách hàng lên hàng đầu</br>
    - Luôn ứng dụng công nghệ mới trong việc thay đổi cách khai thác xe của đối tác hiệu quả nhất .</br>
</br>
</br>
Giá Trị Cốt Lõi: Hợp tác & chia sẻ thành công</br>
</br>
    - Với khách hàng, chúng tôi tạo ra những chuyến đi với mức giá tốt nhất với dịch vụ phù hợp.</br>
    - Với đối tác lái xe, chủ xe, chúng tôi tạo sự thuận lợi, khai thác hiệu quả tối đa xe.</br>
    - Dịch vụ pháp nhân, các dịch vụ đi kèm cho xe kinh doanh đầy đủ, nhanh nhất, chính xác nhất.</br>
</br>
</p>

  </ion-content>
</ion-view>
